.container{
     text-align:center;
     margin-top:23px;

}
table{
     margin:auto;
}

input{
     border:5px solid #244624;
   border-radius:21px;
     font-size:34px;
}

button{
     font-size: 30px;
    background: #879090;
    width: 109px;
    height: 45px;
    border-radius:20px;

}
.calculator{
  display:inline-block;
}











































































































